:root {
    --red: #FF6188;
    --orange: #FC9867;
    --yellow: #FFD866;
    --green: #A9DC76;
    --light-blue: #78DCE8;
    --blue: #6186d6;
    --purple: #AB9DF2;
    --base: #221F22;
    --darker: #19181A;
    --elevated-0: #2D2A2E;
    --elevated-1: #403E41;
    --text: #FCFCFA;
}

/* Utility classes */
.hidden {
    visibility: hidden;
}

/* Core */

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--darker);
    font-family: monospace;
    color: var(--text);
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*#region Splashscreen */

.splashscreen {
    position: absolute;
    min-width: fit-content;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.splashscreen.fade-out {
    opacity: 0;
}

.splashscreen-active {
    color: var(--orange);
}

.splashscreen-inactive {
    color: var(--elevated-1);
}

.splashscreen-text span {
    display: block;
    margin: 0;
    padding: 0;
    white-space: pre;
    font-size: x-large;
}

/*#endregion */

.game-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    height: calc(100% - 4rem);
    gap: 2rem;
}

.game-container.fade-in {
    opacity: 1;
}

.canvas-container {
    border: 1px solid var(--elevated-0);
}

.game-canvas {
    background-size: var(--cell-size) var(--cell-size);
    background-image: linear-gradient(to right, var(--base) 1px, transparent 1px),
        linear-gradient(to bottom, var(--base) 1px, transparent 1px);
    background-repeat: repeat;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-box {
    border: 1px solid var(--elevated-0);
    padding: 1rem;
    min-width: 150px;
}

.sidebar-box h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
    color: var(--orange);
}

.sidebar-box p {
    margin: 0;
    font-size: 1.5rem;
}

.next-canvas {
    background-color: var(--base);
    width: 150px;
    height: 75px;
}

.held-canvas {
    background-color: var(--base);
    width: 150px;
    height: 75px;
}

.keybinds-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.keybinds-container .material-symbols-outlined  {
    width: 15px;
    height: 15px;
    font-size: 15px;
}

.material-symbols-outlined {
    vertical-align: bottom;
    font-size: 1em;
    line-height: 1;
}